@model Cab_management_System.Models.expenses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>expenses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.expense_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expense_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expence_discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expence_discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expence_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expence_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_action_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_action_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { expense_id = Model.expense_id }) |
    @Html.ActionLink("Back to List", "ShowAll", new { })
</p>
