@model IEnumerable<Cab_management_System.Models.rides>

@{
    ViewBag.Title = "ShowAll";
}

<h2>ShowAll</h2>

<p>
    @Html.ActionLink("Create New", "Add_rides", new { })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ride_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.driver_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starting_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ending_location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_of_ride)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_action_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ride_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.driver_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.starting_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ending_location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_of_ride)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_action_time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { ride_id = item.ride_id }) |
            @Html.ActionLink("Details", "Details", new { ride_id = item.ride_id }) |
            @Html.ActionLink("Delete", "Delete", new { ride_id = item.ride_id })
        </td>
    </tr>
}

</table>
