@model Cab_management_System.Models.departments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>departments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.department_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_action_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_action_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { department_id = Model.department_id }) |
    @Html.ActionLink("Back to List", "ShowAll", new { })
</p>
