@model Cab_management_System.Models.employ_salaries

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>employ_salaries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employ_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employ_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_of_paying)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_paying)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month_pf_salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month_pf_salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_action_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_action_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { employ_id = Model.employ_id }) |
    @Html.ActionLink("Back to List", "ShowAll", new { })
</p>
