@model Cab_management_System.Models.drivers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>drivers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.driver_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.driver_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cnic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_number_plate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car_number_plate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.online_stat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.online_stat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_action_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_action_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { driver_id = Model.driver_id }) |
    @Html.ActionLink("Back to List", "ShowAll", new { })
</p>
